@use "../library" as *;

.wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 5rem;

  .leftContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    width: 25vw;

    .content {
      position: absolute;
      bottom: 180px;

      h1 {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        display: block;
        margin-bottom: 1rem;
      }

      p {
        font-size: 18px;
        display: block;
      }
    }
  }

  .rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;

    h1 {
      font-family: "Armouk";
      font-size: 10rem;
    }
  }
}
