.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10rem;
  min-height: 100vh;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
}

.content {
  position: sticky;
  bottom: 145px;
  width: 20vw;
}

.content h1 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  display: block;
}

.content p {
  font-size: 18px;
  display: block;
  margin-top: 1rem;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* height: 100vh; */
}

.projectItems {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  mix-blend-mode: difference;
  z-index: 1;
}

.projectTitle {
  font-family: "Armouk";
  font-size: 7rem;
  line-height: 1.2;
  color: var(--nude);
  transition: opacity 0.35s cubic-bezier(0.77, 0, 0.175, 1);
  opacity: 0.65;
  z-index: 2;
}

.projectTitle:hover,
.projectItems:hover {
  opacity: 1;
  cursor: pointer;
}

.keywords {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 3rem;
}

.keywords p {
  font-size: 16px;
  margin-right: 1rem;
  border: 1px solid var(--nude);
  color: var(--nude);
  padding: 0.2rem 0.4rem;
  border-radius: 8px;
}

.projectMedia {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projectMedia img {
  opacity: 0;
  position: absolute;
  width: auto;
  height: auto;
  max-height: 50%;
  max-width: 60%;
  object-fit: contain;
  pointer-events: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.projectMedia .isActive,
.projectMedia::active,
.projectMedia .active {
  opacity: 1;
}
