.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
}

.title {
  font-family: "Armouk";
  font-size: 12rem;
  height: 60vh;
  color: var(--nude);
  background-color: var(--black);
  width: 95%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.summary {
  max-width: 80%;
  padding: 10% 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.imageContainer {
  box-shadow: var(--box-shadow);
  margin-bottom: 3rem;
  letter-spacing: 0;
  word-spacing: 0;
  font-size: 0;
}

.imageContainer img {
  display: block;
}

.summary h2 {
  font-family: "Armouk";
  font-size: 4rem;
  line-height: 1.13;
}

.grid {
  padding-top: 5%;
  display: grid;
  grid-template-columns: 1.5fr 2.5fr 1fr;
  justify-content: space-around;
  align-items: flex-start;
  grid-gap: 5rem;
  max-width: 80%;
  font-family: "Mier";
}

.grid ul {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: left;
}

.grid li {
  list-style: none;
  font-size: 1.2rem;
}

.hoverUnderline {
  display: inline-block;
  position: relative;
  color: var(--black);
  cursor: pointer;
}

.hoverUnderline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  background-color: var(--black);
}

.hoverUnderline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100%;
}

.imageContainer {
  box-shadow: var(--box-shadow);
  max-width: 95%;
  height: auto;
  margin-bottom: 3rem;
}

.imageContainer > img {
  display: block;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
}

.features h2 {
  font-family: "Armouk";
  font-size: 4rem;
}

.features p {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.description {
  padding: 5rem;
  font-size: 1.3rem;
  width: 60vw;
}

@media (max-width: 1023px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100%;
  }

  .title {
    font-size: 7rem;
    height: 50vh;
    width: 100%;
    line-height: 1;
    padding: 0 1rem;
  }

  .contents {
    width: 100%;
  }

  .description {
    padding: 0;
    width: 95%;
  }

  .summary {
    max-width: 100%;
    justify-content: center;
  }

  .summary h2 {
    font-size: 2.5rem;
    padding: 1rem 0;
    width: 100%;
  }

  .features {
    align-items: flex-start;
    padding: 1.5rem;
    max-width: 100%;
    padding-bottom: 3rem;
  }

  .features p {
    font-size: 1 3rem;
    line-height: 1;
  }
}

@media (max-width: 414px) {
  .grid {
    grid-template-columns: 1fr;
    padding: 1.5rem 0;
    grid-gap: 1rem;
    width: 100%;
  }

  .grid ul {
    margin-bottom: 0.5rem;
  }

  .contents {
    width: 100%;
  }

  .imageContainer {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* display: block; */
    margin-bottom: 2rem;
  }
}

@media (max-width: 393px) {
  .title {
    font-size: 6rem;
  }
}

@media (max-width: 375px) {
  .title {
    font-size: 6rem;
  }

  .description p {
    font-size: 1.3rem;
  }
}
