.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10rem;
  min-height: 100vh;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
}

.content {
  position: sticky;
  bottom: 145px;
  width: 20vw;
}

.content h1 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  display: block;
}

.content p {
  font-size: 18px;
  display: block;
  margin-top: 1rem;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* height: 100vh; */
}

.projectItems {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.projectItems h1 {
  font-family: "Armouk";
  font-size: 7rem;
  line-height: 1.2;
}

.keywords {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 3rem;
}

.keywords p {
  font-size: 16px;
  margin-right: 1rem;
  border: 1px solid var(--nude);
  color: var(--nude);
  padding: 0.2rem 0.4rem;
  border-radius: 8px;
}
