.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
}

.title {
  font-family: "Armouk";
  font-size: 12rem;
  height: 60vh;
  color: var(--nude);
  background-color: var(--black);
  width: 95%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.summary {
  max-width: 75%;
  padding: 10rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.summary h2 {
  font-family: "Armouk";
  font-size: 4rem;
  line-height: 1.13;
}

.grid {
  padding-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-around;
  align-items: flex-start;
  grid-gap: 5rem;
  max-width: 75%;
}

.grid ul {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: left;
}

.grid li {
  list-style: none;
  font-size: 1.2rem;
}

.techStack,
.demoLinks {
  font-family: "Mier";
}

.demoLinks a {
  text-decoration: underline;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 100%;
  padding: 0 2rem;
}

.imageContainer {
  box-shadow: var(--box-shadow);
  margin: 2rem;
  width: 1920;
  height: 929;
  object-fit: cover;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
}

.features > h2 {
  font-family: "Armouk";
  font-size: 4rem;
}

.features > p {
  font-size: 1.2rem;
}

.description {
  padding: 5rem;
  font-size: 1.3rem;
  width: 60vw;
}

.noteToSelf {
  /* outline: 2px solid var(--black); */
  width: 85%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 5rem;
}

.noteToSelf h3 {
  font-family: "Armouk";
  font-size: 4rem;
}

.noteToSelf li {
  font-size: 1.2rem;
}
