.container {
  max-width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  /* padding: 0 1.5rem; */
}

.accordionItem {
  background-color: var(--black);
  /* border-radius: 0.4rem; */
  padding: 3rem;
}

.accordionItem hr {
  border: 1px solid var(--nude);
}

.accordionTitle {
  font-size: inherit;
  color: var(--nude);
  text-decoration: none;
  background-color: var(--black);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.accordionTitle h3 {
  font-weight: 500;
  font-size: inherit;
}

.accordionTitle i {
  color: var(--nude);
  padding: 0.5rem;
}

.accordionTitle ul {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  margin-left: 25px;
}

.accordionTitle li {
  font-size: 0.9rem;
  color: var(--nude);
  padding: 0 0 1px 5px;
}

.accordionTitle div {
  display: flex;
}

.accordionTitle .ion-md-arrow-down {
  display: none;
}

.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: var(--black);
  transition: max-height 650ms;
}

.answer p {
  color: var(--nude);
  font-size: 15px;
  padding: 2rem;
}

.accordionItem:target .answer {
  max-height: 20rem;
}

.accordionItem:target .accordionTitle .ion-md-arrow-forward {
  display: none;
}

.accordionItem:target .accordionTitle .ion-md-arrow-down {
  display: block;
}

.icon {
  transform: scale(0.75);
}
