.accordion {
  max-width: 100%;
  max-width: 80rem;
  background-color: var(--black);
  color: var(--nude);
  padding: 2rem 3rem;
  box-shadow: var(--box-shadow);
}

.item {
  padding: 1rem 0;
}

.item h3 {
  font-weight: 500;
  font-size: 1.5rem;
}

.keywords {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1rem;
}

.links {
  padding: 1rem;
}

.links a {
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 1;
}

.links a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  font-weight: 700;
}

.item li {
  list-style: none;
  color: var(--nude);
  padding: 0.5rem;
  font-size: 0.85rem;
  background-color: var(--nude);
  width: 150px;
  color: var(--black);
  border-radius: 5px;
  margin-right: 2rem;
  font-weight: 600;
}

.item hr {
  border: 1px solid var(--nude);
  margin: 1rem 0;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
