@use "../library" as *;

.linkAnimation {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center center;
  color: inherit;

  .container {
    display: flex;
    justify-content: center;
    cursor: pointer;

    .letterContainer {
      font-size: 8rem;
      font-family: "Armouk";

      width: 1.7rem;
      height: 3rem;
      overflow: hidden;

      div {
        top: 0;
        left: 0;
        pointer-events: none;
      }
    }
  }
}
