.title {
  font-family: "Armouk";
  font-size: 12rem;
  line-height: 1;
}

.word {
  display: inline-block;
  /* margin-right: 1rem; */
}

.character {
  display: inline-block;
}

@media (max-width: 414px) {
  .title {
    font-size: 6rem;
  }
}

@media (max-width: 393px) {
}

@media (max-width: 375px) {
}
