.container {
  padding: 0 2rem;
  background-color: var(--nude);
  color: var(--black);
}

.nude {
  background-color: var(--nude);
  color: var(--black);
}

.black {
  background-color: var(--black);
  color: var(--nude);
}

.main {
  min-height: 100vh;
  max-width: 100%;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
