@font-face {
  font-family: "Mier";
  src: url("/fonts/MierA-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Armouk";
  src: url("/fonts/Armouk.woff2") format("woff2");
}

:root {
  --nude: #eee7e1;
  --black: #1a1919;
  --orange: #ff7241;
  --light-gray: hsla(0, 1%, 14%, 0.473);
  --dark-gray: hsla(0, 0%, 23%, 0.568);
  --box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Armouk";
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Mier", "Armouk", sans-serif;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  max-width: 100%;
  min-height: 100vh;
}

code {
  background: var(--dark-gray);
  color: white;
  border-radius: 5px;
  padding: 0.3rem;
  font-size: 1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

a,
button {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border-width: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  font-size: 1.3rem;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

blockquote,
q {
  quotes: none;
  margin: 0;
  font-style: italic;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

img,
video {
  height: auto;
  max-width: 100vw;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--nude);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--black);
}

.container {
  padding: 0 2rem;
  background-color: var(--nude);
  color: var(--black);
}

.nude {
  background-color: var(--nude);
  color: var(--black);
}

.black {
  background-color: var(--black);
  color: var(--nude);
}

.main {
  min-height: 100vh;
  max-width: 100vw;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 5rem;
  max-width: 100%;
  max-height: 100%;
}

.leftContainer {
  max-width: 20vw;
  max-height: 100%;
  display: block;
}

.leftContent {
  position: fixed;
  max-width: 20vw;
  top: 35rem;
  left: 20rem;
}

.leftTitle {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
}

.leftContentText {
  font-size: 1.1rem;
  padding-top: 1rem;
}

.subText span {
  font-style: italic;
  color: var(--dark-gray);
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.rightContainerTitle {
  font-size: 12vw;
  line-height: 1.1;
}

.hoverUnderline {
  display: inline-block;
  position: relative;
  color: var(--nude);
  cursor: pointer;
}

.hoverUnderline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  background-color: var(--nude);
}

.hoverUnderline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (max-width: 414px) {
  p {
    font-size: 1.3rem;
  }

  .subText {
    font-size: 1rem;
  }

  .container {
    padding: 2rem;
    min-height: 100vh;
    max-height: 100%;
    max-width: 100vw;
  }

  .main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 100vh;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .leftContent {
    top: 15vh;
    left: 2rem;
    max-width: 80%;
    align-items: flex-end;
    justify-content: center;
  }

  .rightContainer {
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    top: 45vh;
    left: 2rem;
    overflow-y: hidden;
  }

  .rightContainerTitle {
    font-size: 8rem;
    line-height: 1.3;
  }

  .para {
    font-size: 1.3rem;
  }
}

@media (max-width: 393px) {
  .leftContent {
    top: 10vh;
  }

  .rightContainerTitle {
    font-size: 7.5rem;
  }
}

@media (max-width: 375px) {
  p {
    font-size: 1rem;
  }

  .leftContent {
    top: 10vh;
  }

  .rightContainer {
    top: 50vh;
  }

  .rightContainerTitle {
    font-size: 6rem;
    line-height: 1;
  }
}
