@font-face {
  font-family: "Mier";
  src: url("../assets/fonts/MierA-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Armouk";
  src: url("../assets/fonts/Armouk.woff2") format("woff2");
}

:root {
  --nude: #eee7e1;
  --black: #1a1919;
  --light-gray: hsla(0, 1%, 14%, 0.473);
  --dark-gray: hsla(0, 0%, 23%, 0.568);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Mier", "Armouk", sans-serif;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--nude);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--black);
}
